@import 'tailwindcss';

body {
  margin: 0;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Chronicle Display Black */
@font-face {
  font-family: 'Chronicle Display';
  src: url('./assets/fonts/Chronicle Display/Chronicle Display Black.otf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Chronicle Display Light Italic */
@font-face {
  font-family: 'Chronicle Display';
  src: url('./assets/fonts/Chronicle Display/Chronicle Display Light Italic.otf')
    format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Chronicle Display Roman */
@font-face {
  font-family: 'Chronicle Display';
  src: url('./assets/fonts/Chronicle Display/Chronicle Display Roman.otf')
    format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

/* Chronicle Display Semibold */
@font-face {
  font-family: 'Chronicle Display';
  src: url('./assets/fonts/Chronicle Display/Chronicle Display Semibold.otf')
    format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Centra No2';
  src: url('./assets/fonts/Centra No2/Centra No2.woff2') format('woff2'),
    url('./assets/fonts/Centra No2/Centra No2.woff') format('woff'),
    url('./assets/fonts/Centra No2/Centra No2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Centra No2';
  src: url('./assets/fonts/Centra No2/Centra No2 Italic.woff2') format('woff2'),
    url('./assets/fonts/Centra No2/Centra No2 Italic.woff') format('woff'),
    url('./assets/fonts/Centra No2/Centra No2 Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Centra No2';
  src: url('./assets/fonts/Centra No2/Centra No2 Bold.woff2') format('woff2'),
    url('./assets/fonts/Centra No2/Centra No2 Bold.woff') format('woff'),
    url('./assets/fonts/Centra No2/Centra No2 Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Centra No2';
  src: url('./assets/fonts/Centra No2/Centra No2 Bold Italic.woff2')
      format('woff2'),
    url('./assets/fonts/Centra No2/Centra No2 Bold Italic.woff') format('woff'),
    url('./assets/fonts/Centra No2/Centra No2 Bold Italic.ttf')
      format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.chronicle-display {
  font-family: 'Chronicle Display', serif;
}

.Centra No2 {
  font-family: 'Centra No2', sans-serif;
}
